header {
  height: 80px;
  width:100%;
  background-color: black;
  color: grey;
  padding: 10px;
}

main {
  padding: 50px;
}

footer {
  height: 30px;
  width: 100%;
  background-color: black;
  padding: 10px;
  color: white;
  font-size:10px;
  text-align: center;
}

